// Variables
$website-width: 1280px;
$primary-color: #bf0bd0;
$secondary-color: #5a40a9;
$main-color: #ce40db;
$light-color: #f4f4f4;
$medium-color: #ddb8e0;
$dark-color: #461f5c;
$bg-image: url("../img/showcase.jpg");

// Set Text Color
@function set-text-color($color) {
  @if (lightness($color) >50) {
    @return #000;
  } @else {
    @return #fff;
  }
}
