@import "config";
@import "utilities";
@import "item_grid";
@import url("https://fonts.googleapis.com/css2?family=Oleo+Script:wght@700&display=swap");

// General Styles
* {
  margin: 0;
  padding: 0;
}
body {
  font-family: "Dosis", sans-serif;
  line-height: 1.6;
  background: #fff;
}

a {
  text-decoration: none;
  color: $dark-color;
}

ul {
  list-style: none;
}

h2,
h3,
h4 {
  text-transform: uppercase;
}

img {
  width: 100%;
}

// Logo
#logo {
  width: fit-content;
  height: 80px;
  font-family: "Oleo Script", cursive;
  font-size: 1.5rem;
  color: #fff;
}

// Main Nav
#main-nav {
  display: flex;
  justify-content: space-between;
  padding-top: 1rem;

  ul {
    display: flex;
  }

  li {
    padding: 1rem 1rem;
  }

  a {
    text-decoration: none;
    color: #fff;
    text-transform: uppercase;
    border-bottom: 3px transparent solid;
    padding-bottom: 0.5rem;
    transition: border-color 0.5s;

    &:hover {
      border-color: $medium-color;
    }

    &.current {
      border-color: $main-color;
    }
  }
}

// Header
#header {
  &-home {
    background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
      $bg-image no-repeat center right / cover;
    height: 100vh;
    color: #fff;

    .header-content {
      text-align: center;
      padding-top: 20%;

      h1 {
        font-size: 4rem;
        line-height: 1.2;
      }
    }
  }
  &-inner {
    background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
      $bg-image no-repeat 20% 30% / cover;
    height: 5.5rem;
    border-bottom: 3px solid $main-color;
  }
}

// Home Sections
#home {
  &-a {
    .specials {
      margin-top: 3rem;
      display: grid;
      grid-gap: 1rem;
      grid-template-columns: repeat(4, 1fr);
    }
    .fas {
      color: $main-color;
      padding-bottom: 0.4rem;
    }
  }
}

// About Sections
#about {
  &-a {
    .about-info {
      img {
        opacity: 0.85;
        width: 150px;
        height: 150px;
      }
      display: grid;
      grid-template-areas: "bioimage bio bio";
      grid-gap: 1.2rem;

      .bio-image {
        grid-area: bioimage;
      }

      .bio {
        grid-area: bio;
        border-left: 3px solid $main-color;
        width: 100%;
        background: $secondary-color;
        color: set-text-color($secondary-color);

        p {
          text-align: left;
          padding: 10px;
        }
      }
    }
  }

  &-b {
    .progress {
      overflow: hidden;
      height: 20px;
      background: $main-color;
      border-radius: 5px;
      margin-bottom: 0.3rem;

      div {
        height: 100%;
        color: #fff;
        text-align: center;
        background: $secondary-color;
      }
    }
  }

  &-c {
    .about-logos {
      display: grid;
      grid-template-columns: repeat(5, 1fr);
      grid-gap: 2rem;

      img {
        width: 100px;
        height: 100px;
        border-radius: 8px;
      }
    }
  }
}

// Timeline

#timeline {
  .icon .fas {
    color: $main-color;
  }
  ul {
    background: $light-color;
    padding: 50px 0;

    li {
      // Create Line
      list-style: none;
      position: relative;
      width: 6px;
      margin: 0 auto;
      padding-top: 50px;
      background: $medium-color;

      // Box
      div {
        position: relative;
        bottom: 0;
        width: 400px;
        padding: 1rem;
        background: $secondary-color;
        color: set-text-color($secondary-color);
        transition: all 0.5s ease-in-out;
        visibility: hidden;
        opacity: 0;

        // Arrows Base
        &::before {
          content: "";
          position: absolute;
          bottom: 5px;
          width: 0;
          height: 0;
          border-style: solid;
        }
      }
      // Right Side
      &:nth-child(odd) div {
        left: 40px;
        transform: translate(200px, 0);

        // Right Side Arrows
        &::before {
          left: -15px;
          border-width: 8px 16px 8px 0;
          border-color: transparent $secondary-color transparent transparent;
        }
      }

      // Letf Side
      &:nth-child(even) div {
        left: -480px;
        transform: translate(-200px, 0);

        /* Left Side Arrows */
        &::before {
          right: -15px;
          border-width: 8px 0 8px 16px;
          border-color: transparent transparent transparent $secondary-color;
        }
      }

      // Dots
      &::after {
        content: "";
        position: absolute;
        left: 50%;
        bottom: 0;
        width: 25px;
        height: 25px;
        background: inherit;
        transform: translateX(-50%);
        border-radius: 50%;
        transition: background 0.5s ease-in-out;
      }
    }
  }
}

// Show boxes
#timeline ul li.show {
  div {
    transform: none;
    visibility: visible;
    opacity: 1;
  }

  &:after {
    background: $secondary-color;
  }
}

// Projects
#project {
  .project-info {
    display: grid;
    grid-template-areas: "projectimage detail detail";
    grid-gap: 1.2rem;

    .project-image {
      grid-area: projectimage;
      text-align: center;
    }

    .detail {
      grid-area: detail;
      width: 100%;
      border-left: 3px solid $main-color;
      background: $medium-color;
      color: set-text-color($medium-color);

      p {
        text-align: left;
        padding: 10px;
      }

      i,
      a {
        display: inline-block;
      }
      a {
        padding-right: 0.5rem;
        color: #333;
      }

      li {
        text-align: left;
        padding-left: 1rem;
      }
    }
  }
}

// Contact Page
#contact {
  &-a {
    .text-fields {
      display: grid;
      grid-template-areas:
        "name email"
        "subject phone"
        "message message";
      grid-gap: 1.2rem;
      margin-bottom: 1.2rem;

      // Grid Areas
      .name-input {
        grid-area: name;
      }
      .subject-input {
        grid-area: subject;
      }
      .email-input {
        grid-area: email;
      }
      .phone-input {
        grid-area: phone;
      }
      .message-input {
        grid-area: message;
        height: 150px;
      }
      .text-input {
        padding: 0.5rem 1rem;
      }
    }

    button[type="submit"] {
      width: 50%;
    }
  }

  &-b {
    .contact-info {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      text-align: center;
    }
  }

  &-c {
    h1 {
      text-align: center;
      font-size: 4rem;
    }
  }
}

// Footer
#main-footer {
  background: $dark-color;
  color: set-text-color($dark-color);
  height: 5rem;

  .footer-content {
    display: flex;
    justify-content: space-between;
    height: 5rem;
    align-items: center;
    .social .fab {
      color: #fff;
      margin-right: 1rem;
      border: 2px #fff solid;
      border-radius: 50%;
      height: 20px;
      width: 20px;
      line-height: 20px;
      text-align: center;
      padding: 0.5rem;

      &:hover {
        background-color: $main-color;
      }
    }
  }
}

// import Media Query
@import "media";
